body {
    background-color: #f6f3e8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7ebd0;
    background-color: #f7ebd0;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%23deb185' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
}

header,
footer {
    background-color: #deb185;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
    text-align: center;
}

section {
    margin: 75px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionOne {
    width: 1110px;
    height: 445px;
    background-color: #ccd5ae;
    border-radius: 40px;
}

section img {
    max-width: 90%;
    height: 300px;
    border-radius: 20%;
    margin-left: 30px;
}

.personalInfo {
    text-align: justify;
    padding: 0 50px;
}

section article {
    background-color: #ccd5ae;
    height: 570px;
    width: 250px;
    font-size: 15px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 20px;
}

section article img {
    height: 200px;
    max-width: 80%;
    margin: 5px auto;
    display: block;
    border-radius: 20px;
}

section article ul {
    list-style: none;
    text-align: center;
    padding: 6px 0px;
    border-radius: 20px;
    background-color: #e9edc9;
}

a {
    background-color: #faedcd;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #756747;
    margin: 10px;
}

a:hover {
    background-color: #e6d3a6;
}

a:active {
    transform: scale(0.96);
    background-color: #e6d3a6;
}